on:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - windows-latest
          - ubuntu-24.04
        config:
          - Release

    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
      CONFIG: ${{ matrix.config }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Set up JDK for x64
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: cancel_previous
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

      - name: build_step_nix
        run: |
          .github/workflows/build.sh
        shell: bash
        if: |
          !startsWith(matrix.os, 'windows')
      - name: build_step_windows
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          "C:\Program Files\Git\bin\bash.EXE" --noprofile --norc -e -o pipefail .github/workflows/build.sh
        shell: cmd
        if: |
          startsWith(matrix.os, 'windows')
